<router-outlet></router-outlet>
<div style="text-align: center;">
<h1>Steel Thread Example</h1>
<br/>
<form action="post">
  Enter Your Name: <input #newname type="text" name="name" style="text-align: left;" ng-model="newname.value"><br><br>
<button (click)="addNames(newname.value)">Save</button>
</form>
<br/>
<div>
  <table >
    <tr>
    <th>ID</th>
    <th>Name</th>
    </tr>
    <tr *ngFor="let name of data">
    <td>{{name.Id | json}}</td>
    <td>{{name.fName | json}}</td>
    </tr>
  </table>
 </div>
